extends layouts/layout
block content
    body
        div(class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow")
            img(src="/imgs/Shonen_logo.png" width="30" height="30" class="d-inline-block align-top espacio-derecha" alt="")
            h5(class="my-0 mr-md-auto font-weight-normal") SHONEN.Inc
            nav(class="my-2 my-md-0 mr-md-3")
                a(class="p-2 text-dark" href="/items/home") Página principal
                a(class="p-2 text-dark" href="/items/addItem") Añadir productos     
            a(class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Perfil de usuario
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                a(class="dropdown-item" href="/users/settings") Ajustes
                a(class="dropdown-item" href="/users/orders") Pedidos
                div(class="dropdown-divider")
                a(class="dropdown-item" href="/users/logout") Cerrar sesión

        section(class="jumbotron text-center")
            div(class="container")
                h1(class="jumbotron-heading") TU CARRITO

        if myitems && myitems.length != 0
            div(class="container mb-4")
                div(class="row")
                    div(class="col-12")
                        div(class="table-responsive")
                            table(class="table table-striped")
                                thead
                                    tr
                                        th(scope="col")
                                        th(scope="col") Producto
                                        th(scope="col") Localización
                                        th(scope="col" class="text-center" style="width: 10%") Cantidad
                                        th(scope="col" class="text-center") Precio
                                        th
                                tbody
                                    each myitem in myitems
                                        tr
                                            td
                                                img(src=myitem.item.imagePath)
                                            td=myitem.item.name
                                            td=myitem.item.location
                                            td(class="text-center")=myitem.qty
                                            td(class="text-center")=myitem.price
                                            td(class="text-right")
                                                a(class="btn btn-sm btn-danger" href="reduce/"+ myitem.item._id)
                                                    i(class="fa fa-trash")
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td Sub-Total
                                        td(class="text-right") #{totalPrice} €
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td Gastos de envío
                                        td(class="text-right") 6,90 €
                                    tr
                                        td
                                        td
                                        td
                                        td
                                        td
                                            strong Total
                                        td(class="text-right")
                                            strong #{totalPrice + 6.90} €
            div(class="col mb-2")
                div(class="row")
                    div(class="col-sm-12  col-md-6")
                        a(href="/items/home" class="btn btn-light btn-block" role="button" aria-pressed="true") Seguir comprando
                    div(class="col-sm-12 col-md-6 text-right")
                        a(href="/items/checkout" class="btn btn-success btn-block" role="button" aria-pressed="true") Realizar pedido
        else
            h3(class="text-center") No tienes ningun producto en el carro
            br
            br
        
