extends layouts/layout
block content
  body
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <img src="/imgs/Shonen_logo.png" width="30" height="30" class="d-inline-block align-top espacio-derecha" alt="">
      <h5 class="my-0 mr-md-auto font-weight-normal">SHONEN.Inc</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Carrito</a>
        <a class="p-2 text-dark" href="/items/addItem">Añadir productos</a>
      </nav>      
      <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil de usuario</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/settings">Ajustes</a>
          <a class="dropdown-item" href="#">Pedidos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
        </div>
    </div>
    table(class="table")
      thead(class="thead-light")
        tr  
          th(scope="col") Imagen
          th(scope="col" style="width: 25%") Nombre
          th(scope="col" style="width: 25%") Descripcion
          th(scope="col" class="text-center") Ubicación
          th(scope="col" class="text-center") Precio 
          th(scope="col" class="text-center") Unidades
          th(scope="col" class="text-center") Añadir al carro
      tbody
      each item in items    
        tr
          td
            img(src=item.imagePath)
          td=item.name
          td=item.description
          td(class="text-center")=item.location
          td(class="text-center")=item.price
          td(class="text-center")=item.stock
          td(align="center")
            button(type="button" class="btn btn-outline-primary center-block") Añadir


 
